.wp-block:has(.block-link_content) {
	align-items: stretch !important;
}

.block-link_content {
	padding: 30px 50px;
	width: 100%;
	display: flex;
	transition: all 0.3s;
	align-items: center;
	justify-content: start;
	margin-bottom: 10px;
	gap: 20px;
	cursor: pointer;
	min-height: 100%;
	flex: 1;
	border-radius: 5px;
	&:hover {
		scale: 1.02;
	}
	&:active {
		scale: 0.9;
	}
	.link-admin {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
	}
	.icon {
		min-width: 20px;
	}
	a,
	input,
	.rich-text {
		height: fit-content !important;
	}
	&.blue {
		background: #0f91d6;
		color: white !important;
		a,
		input,
		.rich-text {
			color: #fff !important;
			text-decoration: none;
		}
	}

	&.white {
		background: #fff;
		color: black !important;
		a,
		input,
		.rich-text {
			color: black !important;

			text-decoration: none;
		}
	}
}
