/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.block_text_content {
	background: white;
	width: 100%;
	border-radius: 5px;
	padding: 50px;
}
