.block_text_content {
	padding: 0 !important;
}

.block_switch_content_head {
	background: #0f91d6;
	border-radius: 5px;
	width: 100%;
	color: white !important;
	padding: 20px !important;
	display: flex;
	align-items: center;
	justify-content: start;
}
.d-none {
	display: none;
}
